{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
 {% with messages = get_flashed_messages() %}
      {% if messages %}
             {% for msg in messages %}
               <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
  {% endwith %}
  {% block style%}
   <style>
        body{
            background:#f4f4f4;
            font-family:Arial, Helvetica, sans-serif;
        }

        .login-card{
            max-width:550px;
            margin:80px auto;
            background:white;
            border-radius:25px;
            padding:40px;
            box-shadow:0 10px 25px rgba(0,0,0,.15);
        }

        h2{
            text-align:center;
            font-weight:bold;
            margin-bottom:10px;
        }

        .subtitle{
            text-align:center;
            color:#666;
            margin-bottom:35px;
        }

        .note{
            background:#ffe7fe;
            border-radius:18px;
            padding:18px;
            margin-bottom:22px;
            border-left:6px solid #f41dde;
        }

        .label{
            display:block;
            font-weight:bold;
            color:#444;
            margin-bottom:8px;
        }

        .form-control{
            border:none;
            background:transparent;
            box-shadow:none !important;
            padding-left:0;
            font-size:18px;
        }

        .form-control::placeholder{
            color:#888;
        }

        .btn-login{
            width:100%;
            border-radius:50px;
            font-size:18px;
            padding:10px;
        }
    </style>
  {% endblock %}
</head>
<body>

<div class="login-card">

    <h2>Welcome</h2>
    <p class="subtitle">Enter your name to continue.</p>

    <form action="/" method="POST">

        <div class="note">
            <label class="label">User Name</label>
            <input
                type="text"
                class="form-control"
                name="user_name"
                placeholder="Enter your User name"
                value="{{user_name}}"
                required>
        </div>

        <div class="note">
            <label class="label">Email:</label>
            <input
                type="email"
                class="form-control"
                name="user_email"
                value="{{user_email}}"
                required>
        </div>

        <button type="submit" class="btn btn-danger btn-login">
          continue
        </button>

    </form>

</div>

{% endblock %}


