{% extends "base.html" %}
{% block title%}{{name}} review{% endblock %}
{% block style %}
    <style>
         body{
            background:#f4f4f4;
            font-family:Arial, Helvetica, sans-serif;
        }

        .review-card{
            max-width:700px;
            margin:auto;
            margin-top:60px;
            background:white;
            border-radius:25px;
            padding:35px;
            box-shadow:0 10px 25px rgba(0,0,0,0.15);
        }

        .note{
            background:#ffe7fe;
            border-radius:18px;
            padding:18px;
            margin-bottom:18px;
            border-left:6px solid #f41dde;
        }

        .label{
            font-weight:bold;
            font-size: medium;
            color:#555;
            display:block;
            margin-bottom:5px;
        }

        .value{
            font-size:18px;
        }

        .review-box{
            min-height:180px;
            white-space:pre-wrap;
        }

        .logout-btn{
            width:100%;
            border-radius:50px;
        }

        h2{
            text-align:center;
            margin-bottom:35px;
            font-weight:bold;
        }
    </style>
{% endblock %}
{% block content %}
<div class="review-card">

    <h2> Your Review</h2>

    <div class="note">
        <span class="label">First Name</span>
        <div class="value">{{user_name}}</div>
    </div>
    <div class="note">
        <span class="label">Movie Name</span>
        <div class="value">{{movie}}</div>
    </div>

    <div class="note review-box">
        <span class="label">Review</span>
        <div class="value">{{review}}</div>
    </div>

    <a href="{{ url_for('logout') }}" class="btn btn-danger logout-btn">
    Logout
    </a>
</div>
{% endblock %}


