<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviews/\write</title>
    <link rel="icon" href="img/movicon.jpg">
<style>
    body{
        background-color: black;
        color: azure;
    }
</style>
</head>
<body>
    <h1 style="padding-left: 250px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(102, 226, 13);">Review</h1>
    <form method="post" action="#">
     <fieldset>
        <label for="firstname">First name : </label>
        <input type="text" required autofocus name="firstname" value="{{firstname}}">
        <br>
        <br>
        <label for="lastname">Last name : </label>
        <input type="text" name="lastname" value="{{lastname}}">
        <br><br>
        <label for="lastname">Email : </label>
        <input type="email"name="mailto" placeholder="not necessary ">
        <br><br>
        <label for="movie">movie : </label>
        <input type="text"  required  name="movie">
     </fieldset>
     <fieldset>
        <legend>Write The Review</legend>
        <textarea required maxlength="2000" placeholder="This movie was...." name="verdict"></textarea>
        </fieldset>
        <button type="submit">POST</button>
    </form>
</body>
</html>